In [1]:
from pathlib import Path
from fuzzyMatcher.matcher import FuzzyMatcher
import pandas as pd
import os

In [2]:
root = Path(os.getcwd())

### Preprocessing

In [2]:
lhs = pd.read_excel('dcc_data_set3.xlsx', sheet_name='categories')

In [3]:
lhs['registrantFirstName'] = lhs['registrantFirstName'].astype(str)
lhs['registrantLastName'] = lhs['registrantLastName'].astype(str)

In [4]:
lhs['registrantFirstName'].astype(str).fillna('', inplace=True)
lhs['registrantLastName'].astype(str).fillna('', inplace=True)

In [5]:
lhs['Full_name'] = lhs['registrantFirstName'] + ' ' + lhs['registrantLastName'] # Dataset 87816 x 44 - 10.777 distinct names

In [14]:
lhs = lhs[lhs['registrantCountry'].isin(['Brazil', 'Algeria', 'Germany', 'France', 'Saudi Arabia'])]

In [6]:
lhs.to_csv('dcc_data_set3.csv')

In [3]:
rhs = pd.read_csv('email_emea.csv')

In [4]:
rhs['full_name'] = rhs['first_name'] + ' ' + rhs['last_name']

In [5]:
rhs.to_csv('email_emea.csv')

In [6]:
lhs = root.joinpath('dcc_data_set3.csv') # Dataset 87816 x 44 - 10.777 distinct names
rhs = root.joinpath('email_emea.csv') # Dataset 3.642.896 x 27

In [9]:
lhs_df = pd.read_csv(lhs)
rhs_df = pd.read_csv(rhs)

C:\Users\M302242\AppData\Local\Temp\ipykernel_27192\323462146.py:1: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  lhs_df = pd.read_csv(lhs)

In [40]:
rhs_df[rhs_df['account'] == '0012o00002XqOv8AAF']

,Unnamed: 0,person_email,email_used_times,account,first_name,last_name,gender,primary_country,merck_specialty,specialty_1,status,full_name
52931,52931,gabert@kinderwunschsachsen.de,1,0012o00002XqOv8AAF,Astrid,Gabert,F,DE,NaN,Fertility/Reproductive,Active,Astrid Gabert

In [10]:
merged = rhs_df.merge(lhs_df, left_on='full_name', right_on='Full_name')

In [12]:
merged.drop_duplicates(subset=['account'])

,Unnamed: 0_x,person_email,email_used_times,account,first_name,last_name,gender,primary_country,merck_specialty,specialty_1,...,eventUrl,isTestRecord,__KEY_root,tech for calc DCC reg,tech for calc Registration,tech for calc Participated online only,tech for calc Participated offline only,tech for calc Participated online and offline,is popular,Full_name
0,57,lazebnayatm@mail.ru,1,0012o00002mLFTNAA4,Татьяна,Лазебная,F,RU,Reproductologist,Obstetrics & Gynecology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,0.200000,0.0,0.0,0.0,0.0,1,Татьяна Лазебная
15,144,dinara.agl@gmail.com,1,0012o00002mLFJSAA4,Динара,Аглямова,F,RU,Reproductologist,Obstetrics & Gynecology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,0.200000,0.0,0.0,0.0,0.0,0,Динара Аглямова
31,685,nawel_belboula@yahoo.fr,1,0012o00002zz6ZWAAY,Nawel,Belboula,F,DZ,NaN,Gynaecology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,0.111111,0.0,0.0,0.0,0.0,0,Nawel Belboula
40,914,mohdelsayed@yahoo.com,1,0012o00002XMXqWAAX,Mohamed,Elsayed,M,KW,Embryologist,Embryology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,1.000000,1.0,0.0,0.0,0.0,0,Mohamed Elsayed
41,951,contact@bouhafs.net,1,0012o00002zz8I1AAI,Mustapha Nazim,Bouhafs,M,DZ,NaN,Gynaecology,...,NaN,False,1,1.000000,0.0,0.0,0.0,0.0,0,Mustapha Nazim Bouhafs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,176032,alejandro.aldape@sims.ie,1,0012o00002gddXSAAY,Alejandro,Aldape Arellano,M,IE,NaN,Reproductive Medicine,...,NaN,False,1,1.000000,0.0,0.0,0.0,0.0,0,Alejandro Aldape Arellano
4992,176199,mutz@kinderwunsch-potsdamerplatz.de,1,0012o00002XhjMLAAZ,Anja,Mutz,F,DE,NaN,Fertility/Reproductive,...,https://fertility-congresses.merckgroup.com/e/...,False,1,1.000000,0.0,0.0,0.0,0.0,1,Anja Mutz
4993,176889,llill@novavita.ee,1,0012o00002WW5Q4AAL,Liis,Lill,F,EE,NaN,Obstetrics & Gynaecology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,1.000000,1.0,1.0,0.0,0.0,1,Liis Lill
4994,178068,aivar.ehrenberg@kliinikum.ee,1,0012o00002WW4vHAAT,Aivar,Ehrenberg,M,EE,NaN,Obstetrics & Gynaecology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,0.100000,0.1,0.0,0.0,0.0,1,Aivar Ehrenberg
5017,178069,lviirmaa@novavita.ee,1,0012o00002WW5FvAAL,Liisa,Viirmaa,F,EE,NaN,Obstetrics & Gynaecology,...,https://fertility-congresses.merckgroup.com/e/...,False,1,1.000000,1.0,1.0,0.0,0.0,1,Liisa Viirmaa

In [15]:
lhs_df = lhs_df[~lhs_df['Full_name'].isin(merged['Full_name'])]

In [17]:
lhs_df.to_csv('dcc_data_set3_not_merged_to_emea.csv')

In [18]:
lhs = root.joinpath('dcc_data_set3_not_merged_to_emea.csv')

In [28]:
account = rhs_df.loc[match['rhs_index']]['account']

In [19]:
M = FuzzyMatcher(lhs=lhs, rhs=rhs, left_on='Full_name', right_on='full_name', verbose=True)

In [20]:
match = M.merge(deep=True, max_matches=3)

Shape of LHS: (10232,)
Performing fuzzy matching...
[##################################################]100.0%: 10232 of 10232
Time taken: 4344.45 seconds.

In [35]:
match.drop(columns=['veeva'], inplace=True)

In [37]:
match.insert(0, 'veeva_id', list(account))

In [38]:
match.to_excel('Fertility_matching_email_emea.xlsx')

              lhs_name                  rhs_name      score  rhs_index
0        astrid verest             astrid gabert  76.923077      52931
1        astrid verest             astrid lievre  76.923077     115494
2        astrid verest               david veres  75.000000      57342
0   audrey francinetti                 audrey uk  80.000000     153166
1   audrey francinetti                audrey tau  75.000000     163976
..                 ...                       ...        ...        ...
1               pa pak              paula pavlek  66.666667      63740
2               pa pak                jan špaček  62.500000      48637
0       plamen kasabov             roland kassab  66.666667     129891
1       plamen kasabov  plamen nickolov paraskov  63.157895       6151
2       plamen kasabov           prevlin kasaven  62.068966      89001

[30696 rows x 4 columns]

In [52]:
698/1996

0.3496993987975952

In [53]:
798/1996

0.3997995991983968

In [51]:
1426 - 628

798

In [6]:
import numpy as np

In [9]:
np.linalg.norm([1, 2, 3, 0.5, 12])

12.579745625409124

In [ ]:
match.to_excel('produced_match.xlsx')

In [10]:
def normalized(a, axis=-1, order=2):
    l2 = np.atleast_1d(np.linalg.norm(a, order, axis))
    l2[l2==0] = 1
    return a / np.expand_dims(l2, axis)

In [15]:
normalized((pd.Series([1, 2, 3, 0.5, 12]) * 10).values)

array([[0.07949286, 0.15898573, 0.23847859, 0.03974643, 0.95391436]])

In [ ]:
pd.Series()