In [1]:
from pathlib import Path
from fuzzyMatcher.matcher import FuzzyMatcher
import pandas as pd
import os

In [3]:
root = Path(os.getcwd())

In [7]:
lhs = pd.read_excel('dcc_data_set3.xlsx', sheet_name='categories')

In [8]:
lhs.sample(10)

,is event empty?,short name,Category,DCC event registration,Webinar registration,Participation,Live,Ondemand,Live + Ondemand,eventId,...,zoomMeetingId,eventUrl,isTestRecord,__KEY_root,tech for calc DCC reg,tech for calc Registration,tech for calc Participated online only,tech for calc Participated offline only,tech for calc Participated online and offline,is popular
86638,NaN,fertility-academe-conference,DCC event registration and Webinar registration,1,1,0,0,0,0,1097,...,9.171565e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.166667,0.166667,0.0,0.00,0.0,1
65451,NaN,academe_latam_2022,DCC event registration,1,0,0,0,0,0,1030,...,9.771821e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.111111,0.000000,0.0,0.00,0.0,1
1748,NaN,eshre,DCC event registration,1,0,0,0,0,0,2,...,9.202766e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.100000,0.000000,0.0,0.00,0.0,1
34904,NaN,eshre,DCC event registration and Webinar registratio...,1,1,1,0,1,0,2,...,9.185709e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.100000,0.100000,0.0,0.10,0.0,1
71851,NaN,apac_life_2022,DCC event registration and Webinar registration,1,1,0,0,0,0,1086,...,9.589899e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.083333,0.083333,0.0,0.00,0.0,1
35888,NaN,eshre,DCC event registration and Webinar registratio...,1,1,1,0,1,0,2,...,9.202766e+10,https://fertility-congresses.merckgroup.com/e/...,True,1,0.050000,0.050000,0.0,0.05,0.0,1
66640,NaN,academe_latam_2022,DCC event registration,1,0,0,0,0,0,1030,...,9.705248e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.111111,0.000000,0.0,0.00,0.0,1
72149,NaN,NaN,DCC event registration,1,0,0,0,0,0,0,...,NaN,NaN,False,1,1.000000,0.000000,0.0,0.00,0.0,0
77693,NaN,merck-eshre-hub,DCC event registration and Webinar registration,1,1,0,0,0,0,1036,...,9.710632e+10,https://fertility-congresses.merckgroup.com/e/...,True,1,0.200000,0.200000,0.0,0.00,0.0,1
19797,NaN,eshre,DCC event registration and Webinar registratio...,1,1,1,0,1,0,2,...,9.202766e+10,https://fertility-congresses.merckgroup.com/e/...,False,1,0.050000,0.050000,0.0,0.05,0.0,1

In [9]:
lhs['registrantFirstName'] = lhs['registrantFirstName'].astype(str)
lhs['registrantLastName'] = lhs['registrantLastName'].astype(str)

In [10]:
lhs['registrantFirstName'].astype(str).fillna('', inplace=True)
lhs['registrantLastName'].astype(str).fillna('', inplace=True)

In [11]:
lhs['Full_name'] = lhs['registrantFirstName'] + ' ' + lhs['registrantLastName'] # Dataset 87816 x 44 - 10.777 distinct names

In [12]:
lhs[-100:].to_csv('dcc_data_set3_participants.csv')

In [13]:
lhs = root.joinpath('dcc_data_set3_participants.csv') # Dataset 87816 x 44 - 10.777 distinct names
rhs = root.joinpath('d_account_all_updated.csv') # Dataset 3.642.896 x 27

Computational effort: 3.642.896 x 100 = 364.289.600 comparisons

In [14]:
M = FuzzyMatcher(lhs=lhs, rhs=rhs, left_on='Full_name', right_on='Account', verbose=True)

In [ ]:
match = M.merge(deep=True)

Shape of LHS: (97,)
Performing fuzzy matching...
[######--------------------------------------------]11.34%: 11 of 97

In [44]:
match

                         rhs_name       score  rhs_index              lhs_name
0                   Rumen Kasabov   81.481481      25122        Plamen Kasabov
1                            PAPA   80.000000     251725                Pa Pak
2                    LYDIE JEANNE   78.260870      68503           Jennie Yiew
3            Somchart Tonseamgsom   95.000000      27572  Somchart Tonseangsom
4                         Dai Van  100.000000      26336               Dai Van
..                            ...         ...        ...                   ...
122                          King  100.000000       3349   Susan King-Barnardo
123  BASSEM MAHMUD ALI MOHD YASIN  100.000000      81734            Ali Mahmud
124                     IMAN CHAN   88.888889     123371             Ian Chang
125                        Adrian  100.000000     212195       Adrian Setiawan
126                     Bibia Dif   75.000000      39983               Bibi Pi

[127 rows x 4 columns]

In [ ]:
match.to_excel('produced_match.xlsx')